@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ededed;
  --color-background: #000000;
  --color-foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
    --color-background: #000000;
    --color-foreground: #ededed;
  }
}

body {
  background: #000000;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
